{% extends 'base.html.twig' %}

{% block title %}Hello MessageController!
{% endblock %}

{% block body %}

	<section class="gradient-custom">
		<div class="container py-5">

			<div class="row">

				<div class="col-md-6 col-lg-5 col-xl-5 mb-4 mb-md-0">

					<h5 class="font-weight-bold mb-3 text-center text-white">Conversations</h5>

					{# {% for message in app.user.received %} #}

						<div class="card mask-custom">
							<div class="card-body">

								<ul class="list-unstyled mb-0">
									<li class="p-2 border-bottom" style="border-bottom: 1px solid rgba(255,255,255,.3) !important;">
										<a href="#!" class="d-flex justify-content-between link-light">
											<div class="d-flex flex-row">
												<img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
												<div class="pt-1">
													<p class="fw-bold mb-0"></p>
													<p class="small text-white">
														<a href=></p>
													</p>
												</a>
											</div>
										</div>
										<div class="pt-1">
											<p class="small text-white mb-1"></p>

											<span class="badge bg-danger float-end"></span>
										</div>
									</li>
								</a>
							</li>

							</div>
				</div>
				{# {% endfor %} #}
			</div>

			<div id="message-box" class="col-md-6 col-lg-7 col-xl-7 position-relative">
    			
			</div>
			<div>
			<ul class="list-unstyled text-white">
       				 <li>
            			<div class="form-outline form-white">
                		<textarea id="message-input" class="form-control" id="textAreaExample3" rows="4"></textarea>
                		<label class="form-label" for="textAreaExample3">✏️</label>
            			</div>
        			</li>
        			<li>
            			<button type="button" class="btn btn-light btn-lg btn-rounded float-end" id="button-addon2">Send</button>
        			</li>
    		</ul>
			

		</div>
	</div>
</section>{% endblock %}
