{% extends 'base.html.twig' %}

{% block title %}Welcome to AIctivity Planner!{% endblock %}

{% block body %}
   <body class="background-section">
        <div class="d-flex justify-content-center mt-5">
            {% if is_granted('ROLE_USER') %}
                <div class="">
                    <h1 class="">Hello {{ app.user.username }} ! ✅</h1>
                </div>
            {% else %}
               <div class="text-center index-app">
                <h2>Wanna plan amazing activities ? 🤩</h2>
                <a href="{{ path('app_register') }}" class="btn custom-button mt-3">Join us !</a>
                </div>
            {% endif %}
        </div>
    </body>

{% endblock %}
