.background-section {
    /* background-image: url('/images/testbackground.png'); */
    background-image: url('/images/AIctivity_Background_V5.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 100vh;
}

.custom-button {
    color: white;
    background-color: #6C6AFF ;
    border-radius: 10px;
    /* background: #e0e0e0; */
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }

.index-app {
    margin-top: 100px; 
    margin-left: 250px
}

.btn-link {
    color: #6C6AFF;
}
  