.background-section {
    /* background-image: url('/images/testbackground.png'); */
    background-image: url('/images/AIctivity_Background_V5.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 100vh;
}

.custom-button {
    color: white;
    background-color: #6C6AFF ;
    border-radius: 10px;
    /* background: #e0e0e0; */
    box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  }

  .custom-button-activity {
    color: white;
    background-color: #6C6AFF ;
    border-radius: 10px;
    /* background: #e0e0e0; */
    /* box-shadow:  20px 20px 60px #bebebe, -20px -20px 60px #ffffff; */
    margin-top: 15px;
  }

.index-app {
    margin-top: 100px; 
    margin-left: 170px
}

.btn-link {
    color: #6C6AFF;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(252, 203, 144, 1), rgba(213, 126, 235, 1))
    }
    
    .mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    }

    .gradient-custom {
        /* fallback for old browsers */
        background: #81c6be;
      
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(129,198,190,1), rgba(181,151,209,1));
      
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(129,198,190,1), rgba(181,151,209,1));
        
        height: 90vh;
      }
      
      #message-input {
        
       
      }